header{
    height: 8vh;
    background-color: rgb(239, 220, 4);
    display: flex;
    justify-content: space-between;
    align-items: center;
}



.logo {
    width: 80px;
    height: 25px;
}
ul{
    display: flex;
    flex: 1;
    justify-content: space-evenly;
}
h2{
    color: black;
    font-size: 30px;
    margin: 0 30px;
}
li{
    color: black;
    font-size: 20px;
    list-style: none;

}
ul li a{
    text-decoration: none;
    color: black;
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}
ul li a:hover{
    color: white;
}
.po{
    width: 350px;
    height: 300px;
}
.card-titel{
    color: black;
}

.contact-page__heading {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 30px;
  }
  
  .contact-page__info {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .contact-page__item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }
  
  .contact-page__label {
    font-size: 18px;
    font-weight: 500;
    width: 80px;
  }
  
  .contact-page__value {
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    width: 400px;
    overflow-wrap: break-word;
  }
  .contact-page {
    margin: 50px auto;
    max-width: 600px;
    text-align: center;
  }

  #footer{
    width: 100%;
    background-color: rgb(199, 183, 8);
    margin-top: 100px;
}
#footer h1{
    color:  black;
    padding-top: 30px;
}
#footer p{
    color: black;
}
.icons i{
    color: rgba(238,224,208);
    font-size: 30px;
    cursor: pointer;
}
.copyright{
    color:  black;
    margin-top: 20px;
}
.credite{
    color:  black;
}

